<header class="header">
  <a href="header_logo" class="header_logo">Logo</a>
  <nav class="header_nav">
    <ul>
      <li><a href="Home" class="">Home</a></li>
      <li><a href="About" class="">About</a></li>
      <li><a href="Contact" class="">Contact</a></li>
    </ul>
  </nav>
  <div class="header_button">
    <button class="searchbtn" aria-expanded="false">
      search
      <svg
        class="feather feather-search"
        fill="none"
        height="17"
        width="17"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" x2="16.65" y1="21" y2="16.65" />
      </svg>
    </button>
  </div>
</header>
