<div class="searchbar">
  <div class="container">
    <form action="/search" class="search_form" role="search" method="POST">
      <input
        type="search"
        aria-label="search"
        id="searchinput"
        name="searchform"
        placeholder="Search the site..."
      />
    </form>
    <div class="searchclose">Close</div>
  </div>
</div>
